*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: rgb(8, 8, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2
{
    font-size: 50px;
    font-weight: 300;
    margin: 10px;
}
span
{
    font-size: 28px;
}
p
{
    font-size: 20px;
}
.container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
}
.container > div
{
    height: 210px;
    background-size: cover;
    background-attachment:fixed ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
}
.container > div:hover
{
    opacity: 0.9;
    transform: scale(0.98);
}
.container > div:nth-child(1)
{
    grid-column: 1/3;
}
.container > div:nth-child(6)
{
    grid-column: 3/5;
}
.container > div:nth-child(9)
{
 grid-column: 3/5;
}
.container > div:nth-child(10)
{
    grid-column: 1/3;
}
.one
{
    background-image: url(.//image/2.jpg);
}
.two
{
    background-image: url(./image/4.jpg);
}
@media (max-width:1024px) {
    h2
{
    font-size: 25px;
    margin: 10px;
}
span
{
    font-size: 18px;
}
p
{
    font-size: 16px;
}
.container
{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.container > div:nth-child(1)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(2)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(3)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(4)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(5)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(6)
{
    background-image: url(./image/2.jpg);
    
}
.container > div:nth-child(7)
{
    background-image: url(./image/4.jpg);
    
}
.container > div:nth-child(8)
{
    background-image: url(./image/4.jpg);
    
}
.container > div:nth-child(9)
{
    background-image: url(./image/4.jpg);
    
}
.container > div:nth-child(10)
{
    background-image: url(./image/4.jpg);
    
}
.container > div:nth-child(11)
{
    background-image: url(./image/4.jpg);
    
}

.container > div:nth-child(12)
{
    background-image: url(./image/4.jpg);
    
}
.container > div:nth-child(13)
{
    background-image: url(./image/4.jpg);
    
}

}